html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

body {
  display: flex;
  align-items: center;
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  margin: auto;
}

#game {
  box-shadow: 1px 1px 15px #ddd;
 background-image: url("https://previews.123rf.com/images/wirojsid/wirojsid1606/wirojsid160600081/57740023-el-c%C3%A9sped-artificial-perspectiva-textura-de-fondo.jpg");
  border-radius: 10px;
}

#update{
  margin-left: 10%;
  background-image: url("../img/restart.png");
  border-radius: 50%;
  height: 46px;
  width: 46px;
}

#dashboard {
  font-size: 2em;
  margin-bottom: 1.5rem;
  text-align: center;
}